<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/css/main.css">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
  </head>
  <body>
    <section class="main-content">
      {{>header}}
      <img src="/img/1.jpg" alt="picture" class="portrait">
    </section>

    {{>footer}}
  </body>
</html>
