<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/main.css">
  <title>Help</title>
  <link rel="icon" href="/img/weather.png">
</head>

<body>
  <section class="main-content">
    {{>header}}
    <p>{{helpText}}</p>
  </section>

  {{>footer}}
</body>

</html>
